$main-color: #00cd3c;
@media screen and (max-width: 768px) {
	#wrap {
		display: none;
	}

	body:after {
		display: block;
		font-size: 24px;
		line-height: 100vh;
		text-align: center;
		content: '이 포트폴리오는 모바일을 지원하지 않습니다.';
	}
}

#wrap {
	max-width: 1000px;
	margin: 0 auto;

	> header {
		padding-top: 50px;
		> .container {
			position: relative;
			> .logo {
				width: 174px;
				background-image: url(./../images/logo.png);
				background-repeat: no-repeat;
				> a {
					display: block;
					text-indent: -9999px;
					height: 34px;
				}
			} //end of logo

			> .srch {
				position: absolute;
				left: 200px;
				top: -5px;
				width: 600px;
				height: 40px;
				border: 3px solid $main-color;
				border-radius: 30px;
				> input {
					outline: 0;
					border: 0;

					width: 500px;
					height: 30px;
					margin: 0 0 0 20px;
					font-size: 24px;
				}

				> button {
					outline: 0;
					border: 0;
					background: 0;

					width: 23px;
					height: 23px;
					margin-left: 30px;
					text-indent: -9999px;
					background-image: url(./../images/btn_comm.png);
					background-position: -57px -275px;
				}
			} //end of .srch

			> .snb {
				position: absolute;
				right: 0;
				top: -50px;
				display: flex;
				// justify-content: space-between;
				width: 500px;
				> li {
					width: 70px;
					padding-right: 5px;
					margin: 5px;
					font-size: 12px;
					font-weight: 500;
					text-align: center;
					border-right: 2px solid #eee;

					&:nth-child(5) {
						border: 0;
						margin-left: 15px;
					}

					&:hover {
						> a {
							color: $main-color;
						}
					}
					> a {
						display: block;
						height: 20px;
						line-height: 20px;
					}
				} //end of li
			} //end of .snb

			> nav {
				position: relative;
				margin-top: 50px;
				border-top: 1px solid #eee;
				border-bottom: 1px solid #222;
				> .gnb {
					display: flex;
					width: 100%;
					> li {
						margin: 0 10px;
						font-size: 20px;
						font-weight: 500;

						&:nth-child(6) {
							position: absolute;
							right: 10px;
						}

						&:hover {
							> a {
								color: $main-color;
							}
						}
						> a {
							display: block;
							height: 50px;
							line-height: 50px;
						}
					} //end of li
				} //end of .gnb
			} //end of nav
		} //end of .container
	} //end of header

	> section {
		> #live {
			padding-bottom: 100px;
			> h2 {
				color: $main-color;
				font-size: 36px;
				padding: 30px 0;
			}
			> .concert,
			> .musical,
			> .classic {
				> h3 {
					color: $main-color;
					font-size: 32px;
					padding-top: 30px;
				} //end of h3

				> .container-box {
					display: flex;
					justify-content: space-between;
					padding-bottom: 50px;
					> .container {
						width: 180px;
						cursor: pointer;
						> .num {
							font-size: 24px;
							padding: 10px 0;
						} //end of .num

						> img {
							display: block;
							width: 100%;

							&:hover {
								transform: scale(1.1);
								transition: all 0.7s;
							}
						} //end of img

						> p {
							margin-top: 20px;
							font-size: 16px;
							font-weight: 500;
							line-height: 2;

							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
							> span,
							> time {
								display: flex;
								font-weight: 300;
								font-size: 12px;
							}

							> span {
								display: inline-block;
								margin-right: 20px;

								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
							}
						} //end of p
					} //end of .container
				} //end of .container-box
			}
		} //end of #live

		> #foru {
			display: flex;
			justify-content: space-between;
			width: 950px;
			margin: 0 auto;
			padding-bottom: 100px;
			> .open {
				width: 450px;
				padding: 5px;
				border: 2px solid #bababa;

				> .tit {
					display: flex;
					justify-content: space-between;
					width: 100%;
					> h3 {
						color: $main-color;
						font-size: 32px;
						padding: 30px 0;
					} //end of h3
					> p {
						height: 20px;
						margin-top: 40px;
						> a {
							display: block;
							font-size: 16px;
							font-weight: 500;
						}
					}
				} //end of .tit
				> ul {
					> li {
						padding-top: 10px;
						border-bottom: 2px solid #eee;
						margin: 15px;

						&:last-child {
							border-bottom: 0;
						}

						&:hover {
							background-color: #eee;
						}
						> ol {
							height: 100px;
							padding: 0 0 5px 5px;

							> li {
								padding: 10px;
								font-size: 16px;

								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
								&:nth-child(1) {
									width: 60px;
									padding: 5px;
									margin: 2px;
									background-color: $main-color;

									> a {
										display: block;
										color: #fff;
										font-weight: 500;
									}
								}
							} //end of li
						} //end of ol
					} //end of li
				} //end of ul
			} //end of .open

			> .foru {
				width: 450px;
				padding: 5px;
				border: 2px solid #bababa;
				> .tit {
					width: 100%;
					display: flex;
					justify-content: space-between;
					> h3 {
						color: $main-color;
						font-size: 32px;
						padding: 30px 0;
					} //end of h3
					> p {
						height: 20px;
						margin-top: 40px;
						> a {
							display: block;
							font-size: 16px;
							font-weight: 500;
						}
					}
				} //end of .tit

				> p {
					width: 350px;
					margin: 0 auto;
					margin-top: 50px;
					line-height: 2;
					font-size: 24px;
					text-align: center;
					> span {
						display: inline-block;
						color: $main-color;
					} //end of span
				} //end of p

				> .image {
					width: 100%;
					background-image: url(./../images/mian_foru_img.png);
					background-repeat: no-repeat;
					background-position: center center;
					background-size: contain;
					> a {
						display: block;
						height: 130px;
						text-indent: -9999px;
					} //end of a
				} //end of .image

				> button {
					outline: 0;
					background: 0;
					border: 0;

					width: 300px;
					height: 50px;
					margin: 50px 0 0 80px;
					font-size: 24px;
					border: 2px solid #bababa;
					border-radius: 50px;

					&:hover {
						color: #fff;
						background-color: $main-color;
					}
				}
			} //end of .foru
		} //end of #foru
		> #pick {
			position: relative;
			height: 550px;
			> .melonpick {
				> h3 {
					color: $main-color;
					font-size: 32px;
					padding: 30px 0;
				}

				> .swiper {
					> .swiper-wrapper {
						> .swiper-slide {
							overflow: hidden;
							padding: 20px;
							background-color: #eee;
							border-radius: 10px;
							box-sizing: border-box;
							cursor: pointer;

							&:after {
								display: block;
								position: absolute;
								left: 0;
								top: 0;
								width: 100%;
								height: 100%;
								background-color: rgba(0, 0, 0, 0.1);
								content: '';
							}

							&:hover:after {
								display: none;
							}

							> img {
								display: block;
								width: 100%;
								border-radius: 10px;
							}

							> p {
								margin-top: 20px;
								font-size: 16px;
								font-weight: 500;
								line-height: 2;

								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;

								> span,
								> time {
									display: flex;
									font-weight: 300;
									font-size: 14px;
								}

								> span {
									margin-right: 20px;
								}
							}
						} //end of .swiper-slide
					} //end of .swiper-wrapper
				} //end of .swiper

				> .swiper-pagination {
					bottom: 20px;
				} //end of .swiper-pagination

				> .swiper-button-prev {
					position: absolute;
					left: -50px;
					top: 50%;
					color: #222;
				}
				> .swiper-button-next {
					position: absolute;
					right: -50px;
					top: 50%;
					color: #222;
				}
			} //end of .melonpick
		} //end of #pick
	} //end of section

	> footer {
		margin-top: 100px;
		padding-bottom: 50px;
		> .notice {
			display: flex;
			padding: 10px 0;
			border-top: 1px solid #eee;
			> h3 {
				font-weight: 400;
				font-size: 14px;
			}
			> p {
				display: flex;
				margin-left: 20px;
				width: 150px;
				> a {
					display: block;
					margin-left: 5px;
				}
				> span {
					display: block;
					width: 15px;
					text-indent: -9999px;
					background-image: url(./../images/ico_new.png);
					background-repeat: no-repeat;
					background-position: center center;
				}
			} //end of p
		} //end of .notice

		> .info {
			display: flex;
			justify-content: space-between;
			padding: 15px 0;
			border-top: 1px solid #222;
			border-bottom: 1px solid #eee;
			> h3 {
				width: 50px;
				text-indent: -9999px;
				background-image: url(./../images/footer_l_box3.png);
				background-repeat: no-repeat;
				background-position: 0 -3px;

				&:hover {
					background-position: 0 -25px;
				}
			}

			> ul {
				display: flex;
				> li {
					margin-left: 15px;
					font-size: 14px;
					> a {
						display: block;
						color: #bababa;
					}
				} //end of li
			} //end of ul
		} //end of .info

		> .address {
			> .terms {
				display: flex;
				padding: 20px 0;
				> li {
					padding: 0 10px;
					border-right: 1px solid #eee;

					&:nth-child(1) {
						padding-left: 0;
					}

					&:nth-child(4) {
						font-weight: 700;
					}

					&:last-child {
						border-right: 0;
					}

					&:hover {
						> a {
							display: block;
							text-decoration: underline;
						}
					}
				} //end of li
			} //end of .terms
			> address {
				line-height: 2;

				> span {
					margin: 0 10px;
					padding: 0 10px;
					border: 1px solid #eee;
					border-bottom: 0;
					border-top: 0;
				}

				> a {
					display: inline-block;
					width: 100px;
					font-weight: 600;
					text-align: center;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		} //end of .address

		> .award {
			> ul {
				display: flex;
				> li {
					padding: 30px 40px 30px 0;
					background-repeat: no-repeat;
					background-position: center center;
					&:nth-child(1) {
						width: 101px;
						background-image: url(./../images/ban_footer01_190702.png);

						> a {
							height: 27px;
						}
					}
					&:nth-child(2) {
						width: 125px;
						background-image: url(./../images/ban_footer02_190702.png);

						> a {
							height: 25px;
						}
					}
					&:nth-child(3) {
						width: 113px;
						background-image: url(./../images/ban_footer03_190702.png);

						> a {
							height: 25px;
						}
					}
					&:nth-child(4) {
						width: 82px;
						background-image: url(./../images/ban_footer05_170316.png);

						> a {
							height: 22px;
						}
					}
					&:nth-child(5) {
						width: 57px;
						background-image: url(./../images/ban_footer06_200115.png);

						> a {
							height: 23px;
						}
					}
					> a {
						display: block;
						text-indent: -9999px;
					}
				} //end of li
			} //end of ul
		} //end of .award
	} //end of footer
} //end of #wrap
